.form-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding-bottom: 70px;
}
.configh1 {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
    text-align: center;
    padding-top: 30px;
}

.business-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    color: black;
    font-weight: bold;
}


.form-group input,
.form-group select {
    width: 100%;
    padding: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    box-sizing: border-box;
    background-color: rgb(242, 245, 250);
}

.image-upload {
    position: relative;
}

.image-upload input[type="file"] {
    display: none;
}

.upload-box {
    border: 2px dashed #ddd;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    border-radius: 8px;
    margin-top: 15px;
}

.upload-box p {
    margin: 0;

}

.upload-box small {
    display: block;
    margin-top: 10px;
    color: #999;
}

.btn-submit {
    padding: 10px;
    background-color: #1abc9c;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.btn-submit:hover {
    background-color: #16a085;
}