/* General styling */
body {
  font-family: Arial, sans-serif;
  background-color:rgb(242, 243, 245); /* Color de fondo similar al morado */
  
  padding: 0;
  box-sizing: border-box;
}

.App {
  background-color:rgb(242, 243, 245);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  min-height: 100vh;
  padding-bottom: 60px;
  padding-top: 30px; /* Espacio para la barra de navegación */
}

header h1 {
  color: black;
  font-size: 24px;
  text-align: center;
  margin-bottom: 20px;
}

/* Registrar Tipo de Cambio */
.registrar {
  background-color: white;
  border-radius: 15px;
  padding: 20px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 90%;
  max-width: 350px;
  margin-bottom: 15px;
}

.icon-globe {
  font-size: 40px;
  color: #1abc9c; /* Icono verde */
}

.form-group {
  margin-top: 10px;
}

.form-group label {
  display: block;
  margin-bottom: 5px;
  color: #555;
}

.form-group input,
.form-group select {
  width: 100%;
  margin-top: 15px;
  padding: 10px; /* Ajusta el padding para que sea igual en todos los lados */
  border-radius: 8px;
  border: 0.5px solid #ddd;
  box-sizing: border-box; /* Asegura que el padding y el borde se incluyan en el ancho total */
  font-size: 16px; /* Ajusta el tamaño de la fuente para que sea consistente */
}

.form-group input::placeholder {
  text-align: left; /* Alinea el texto del placeholder a la izquierda */
}

.form-group input {
  text-align: left; /* Alinea el texto ingresado a la izquierda */
}
.btn-submit {
  margin-top: 10px;
  padding: 10px;
  width: 100%;
  border-radius: 8px;
  background-color: rgb(18, 184, 167);
  color: white;
  border: none;
  cursor: pointer;
}

.btn-submit:hover {
  background-color: #16a085;
}

/* Divisas */
.currencies {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
}

.currencies h2 {
  color: black;
  font-size: 20px;
  margin-bottom: 15px;
  text-align: center;
}

.currency-list {
  display: flex;
  flex-direction: column;
}

.currency-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-radius: 10px;
  padding: 10px;
  margin-bottom: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.currency-item .circle {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #1abc9c;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  margin-right: 10px;
}

.currency-item label {
  font-size: 18px;
  color: black;
  padding-right: 230px;
}

.currency-item p {
  margin: 0;
  color: gray;
}


/* Responsividad */
.actions {
  display: grid;
  gap: 10px;
  justify-content: flex-end;
  margin-right: 10px; /* Asegura que los botones estén pegados a la derecha con un margen de 10px */
}

.btn-edit, .btn-delete {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 16px;
}

.btn-edit {
  color: #1abc9c;
}

.btn-delete {
  color: #e74c3c;
}

.btn-confirm {
  background-color: #16a085 !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}

.btn-cancel {
  background-color: #e74c3c !important;
  color: white !important;
  border: none !important;
  padding: 10px 20px !important;
  border-radius: 5px !important;
  cursor: pointer !important;
}

@media (max-width: 600px) {
  .swal2-popup {
    width: 90% !important;
    font-size: small;
    width: 50px;
    font-family: Arial, sans-serif;
    color: black;
  }
  .swal2-input {
    width: 50% !important;
    border-radius: 8px;
  }

  .currency-item label {
    font-size: 18px;
    color: black;
    padding-right: 150px;
  }
  
}